/*heading*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.5;
}

h1, .h1 {
    font-size: 3.5rem;
}

h2, .h2 {
    font-size: 3rem;
}

h3, .h3 {
    font-size: 2.5rem;
}

h4, .h4 {
    font-size: 2rem;
}

h5, .h5 {
    font-size: 1.5rem;
}

h6, .h6 {
    font-size: 1rem;
}


/*paragraph*/
p, .p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.35;
}

.p-xlg {
    font-size: 1.5rem;
}

.p-lg {
    font-size: 1.25rem;
}

.p-sm {
    font-size: 0.75rem;
}


/*font weight*/
.font-thin { 
    font-weight: 200;
}
    
.font-light {
    font-weight: 300;
}

.font-normal {	
    font-weight: 400;
}

.font-medium{
    font-weight: 500;
}

.font-semibold {	
    font-weight: 600;
}

.font-bold{	
    font-weight: 700;
}