@import url('./utilities.css');


/*common alert styling*/
.alert {
    font-weight: bold;
    padding: 0.5rem 1rem;
    height: 3rem;
    width: 80%;
    border-radius: 0.65rem;
    
    
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .alert-icon {
    height: 1.5rem;
    width: 1.5rem;
}


  /*alert simple*/
  .success-simple{
      background: var(--SUCCESS-COLOR);
  }

  .warning-simple {
    background: var(--WARNING-COLOR);
  }

  .danger-simple {
      background: var(--RED);
  }

  
  /*alert outline*/
  .success-outline {
      border: 2px solid var(--SUCCESS-COLOR);
      color: var(--SUCCESS-COLOR);
  }

  .warning-outline {
    border: 2px solid var(--WARNING-COLOR);
    color: var(--WARNING-COLOR);
  }

  .danger-outline {
    border: 2px solid var(--RED);
    color: var(--RED);
  }