.badge-container {
    display: inline-flex;
    position: relative;
}


/*avatars with status badge*/
.status-badge{
    width: 28%;
    height: 28%;
    border-radius: 50%;
    border: 2.25px solid var(--WHITE);
    
    position: absolute;
    right: 0;
    bottom: 0;
    
}

.dnd {
    background: var(--DANGER-COLOR);
}

.online {
    background: var(--SUCCESS-COLOR);
}

.offline {
    background: var(--GREY);
}


/*icon with number badge*/
.badge-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.number-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background: var(--PRIMARY-COLOR);
    color: var(--WHITE);
    font-size: small;
    
    position: absolute;
    right: -11px;
    top: -10px;
  }