.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--MODAL-BG);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: max-content;
    width: 50%;
    background-color: var(--WHITE);
    border-radius: 10px;
    padding: 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}