@import url('./utilities.css');


/*2 column grid styling*/
.grid-50-50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid-30-70 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.grid-70-30 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.center-content {
    align-self: center;
    justify-self: center;
}


/*3 column grid styling*/
.grid-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


/*grid container styling*/
.grid-container {
    border: 1px solid var(--PRIMARY-COLOR);
    border-radius: 10px;
    padding: 1rem;
    max-width: 90%;

    display: inline-flex;
}