:root {
    --PRIMARY-COLOR: rgb(145, 55, 135);
    --SECONDARY-COLOR: rgb(0,0,0);
    --RED: rgb(215, 50, 50);
    --PURE-RED: rgb(255, 0, 0);
    --WHITE: rgb(255, 255, 255);
    --GREY: rgb(200, 200, 200);
    --WARNING-COLOR: rgb(255, 180, 0);
    --SUCCESS-COLOR: rgb(50, 200, 50);
}


/*rest css*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}