@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
@import url('/utilities/typography.css');
@import url('/utilities/padding.css');
@import url('/utilities/margin.css');


:root {
    --PRIMARY-COLOR: rgb(145, 55, 135);
    --SECONDARY-COLOR: rgb(0,0,0);
    
    --WHITE: rgb(255, 255, 255);
    --GREY: rgb(200, 200, 200);

    --SUCCESS-COLOR: rgb(50, 200, 50);
    --WARNING-COLOR: rgb(255, 180, 0);
    --DANGER-COLOR: rgb(215, 50, 50);

    --PRIMARY-HOVER: rgb(175, 70, 160);
    --SECONDARY-HOVER: rgb(50, 50, 50);
    --SUCCESS-HOVER: rgb(96, 215, 96);
    --WARNING-HOVER: rgb(255, 197, 57);
    --DANGER-HOVER: rgb(223, 89, 89);
    --PRIMARY-BUTTON-HOVER: rgba(221, 186, 217, 0.95);

    --PRIMARY-BG: rgba(145, 55, 135, 0.2);
    --CARD-OVERLAY: rgba(150, 150, 150, 0.75);
}


/*rest css*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

* span {
    background-color: inherit;
}